.new-task {
    padding-top: 10px;
}
.new-task-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-right: 8px;
    padding-left: 8px;
}
.new-task-body {
    display: flex;
    justify-content: space-between;
    padding-right: 8px;
    padding-left: 8px;
}

