button{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.434118px;
    color: #006CFF;
    background: none;
    border: none;
}